[2015-10-12 13:33] marionebl opened #2 "Export as SVG"
Hey there,

any chance Gravizo could add support for different image formats? I think about something in line with:
[code]

[2015-10-12 14:25] TLmaK0 commented on #2
Thanks Marionebl, I will added this to the roadmap.

[2015-10-12 15:46] marionebl commented on #2
:+1:  Awesome!

[2015-10-19 01:52] wenerme opened #3 "Support CJK ?"
e.g.

[code]

<img src='http://g.gravizo.com/g?
digraph G {
   a->b;
   a[label="你好"]
 }
'>

[2015-10-19 05:52] TLmaK0 commented on #3
Hi @wenerme, actually doesn't support CJK, I will add this to the roadmap.

[2015-10-22 06:38] TLmaK0 opened #4 "Allow to change color scheme"

[2015-10-23 16:34] yaronyg commented on #4
+1

The current black and white color scheme really makes the graphs, in my opinion, look flat and harder to read. PlantUML, for example, uses a red and yellow color scheme that makes the graphs 'pop' and thus makes them easier for people like me to understand.

[2015-10-23 16:35] yaronyg commented on #2
+1! The PNGs generated by PlantUML (I'm guessing this is really GraphViz, but whatever) always seem a bit fuzzy. But SVG (for obvious reasons given how its rendered) is always super sharp and infinitely scalable. The later part is really nice for folks with eye issues as they can zoom the picture as large as they want and still get 100% fidelity.

[2015-11-12 16:57] mathroc opened #5 "support indirection"
sometimes the graph description is too long for GitHub (but works fine with the gravizo test/encoder), it would be nice to be able to do something like describe here : http://stackoverflow.com/a/32771815/274188

tl;dr:

I'd like to have an url like this : http://g.gravizo.com/g?http://somewhere.org/graph-source.txt
where http://somewhere.org/graph-source.txt contains either Graph source supported

[2015-11-12 17:50] TLmaK0 commented on #5
Thanks @mathroc, I need to think more about this, but It could be good start. As you say CDN is a problem.

[2015-11-18 11:03] TLmaK0 commented on #4
add ```skinparam monochrome false``` to your graph.

[2015-11-18 11:03] #4 closed

[2016-01-07 14:06] tgirardi opened #6 "Graphviz from URL"
Is gravizo capable of rendering a graphviz code contained in a certain URL?

For example: http://gravizo.com/g?url=https%3A%2F%2Fgist.githubusercontent.com%2Ftgirardi%2F8868651eeaa77a77ba19%2Fraw%2F54dab9f293b50f7efa19dbdabedb60b803e6d9cf%2Fejemplo.dot

The above url contained in the "url" parameter is the raw URL of one of my Gists.

If not, I think it would be a very nice feature.

An interestin

[2016-01-07 14:57] TLmaK0 commented on #6
Actually is not posible, but I need to think about it, because It will fix the url limitation. The one big problem we have now it's that gravizo uses a CDN to forget to render the image every time. If the image url doesn't change then the image neither. Gravizo could render the new gist version if the gist url changes, but then you should change the image link in your original document on every ch

[2016-01-07 19:54] tgirardi commented on #6
Yes. Perfect sense.

The URL change (e.g. ?version=2) could be a simple workaround.

I can think of a solution, but it would need some changes in gravizo code that are probably not just a few lines:

Github send an Etag header which effectively changes when you make changes to the Gist (and obviously persists while it's still the same).

Gravizo could keep a record of that Etag for each gist ID. I

[2016-01-12 17:44] TLmaK0 commented on #6
@tgirardi but the request will not arrive to Gravizo, the CDN will not call Gravizo if already has a cached image. With anticache (e.g. ?version=2) will fix the problem, but then you should update your reference on every change, right?

[2016-01-12 17:48] tgirardi commented on #6
It will depend on the Web server's settings. Gravizo.com could send the right http headers (for the first petition) to avoid browsers from using the cached image without asking gravizo first. I'm not sure how CDNs work in that matter, but surely they can behave in a similar manner.

[2016-01-12 18:04] TLmaK0 commented on #6
But then, on every image request, client will call Gravizo, then gravizo will call Github, then will render the image. This will affect performance and usability.

I think will be better to create some kind of api to clear cache, to call it from a gist webhook or something like that, but github has disabled it https://developer.github.com/v3/activity/events/types/#gistevent

[2016-01-12 19:08] tgirardi commented on #6
That's true.

Also, Could Github block Gravizo in a certain way after noticing a high amount of requests from the same server? (probably this concern should also be addressed even if something is made in order to reduce the requests sent to github to the minimum necessary amount).

So I agree with you about taking in consideration the performance implications.

The API idea sounds interesting, but

[2016-01-12 20:36] tgirardi commented on #6
It will depend on the Web server's settings. Gravizo.com could send the right http headers (for the first petition) to avoid browsers from using the cached image without asking gravizo first. I'm not sure how CDNs work in that matter, but surely they can behave in a similar manner.

[2016-01-12 20:40] TLmaK0 commented on #6
thanks, I will investigate how e-tag, 304 and so on, works, and create something to allow this without lost performance.

[2016-01-13 18:00] TLmaK0 commented on #3
@wenerme Gravizo now support CJK characters

![Alt text](http://g.gravizo.com/g?
digraph G {
   a->b;
   a[label="你好"]
 }
)

[2016-01-13 18:01] #3 closed

[2016-01-15 07:53] TLmaK0 opened #7 "Undirected DOT graphs are not supported"
For example, the first example from the wikipedia page https://en.wikipedia.org/wiki/DOT_(graph_description_language)#Undirected_graphs:

[code]

[2016-01-19 10:04] marionebl opened #8 "Faulty rendering with big uml"
With big uml descriptions gravizo renders black strokes from the upper edge to each component, the borders of the components are missing:

![bug-report](https://cloud.githubusercontent.com/assets/4248851/12415501/4cd046f0-be9c-11e5-8d02-d22a57612da7.png)

Used definition:
[code]

[2016-01-20 07:24] TLmaK0 commented on #8
Thanks @marionebl I will take a look.

[2016-01-20 19:07] TLmaK0 commented on #7
Fixed

[2016-01-20 19:07] #7 closed

[2016-02-03 13:28] TLmaK0 opened #9 "Move image license to something more permisive"
It should allow to share and modify images without removing watermark.

[2016-02-06 15:01] TLmaK0 commented on #8
I can render it correctly pasting your code directly:

![woo](http://g.gravizo.com/g?
@startuml;
skinparam monochrome true;
skinparam shadowing false;
skinparam component {;
  backgroundColor<<artifact:npm>> lightgray;
  componentFontColor<<artifact:fooofoo>> white;
};
component "meh" {;
  component [foo-bar] as foo.pp.git;
  component [foo-baz-fizz] as foo.bs.git;
  component [foo-looloo] as foo.

[2016-02-08 11:15] TLmaK0 opened #10 "Allow to create graphs with POST."

[2016-02-09 19:01] TLmaK0 commented on #10
Use Content-type: text/plain and charset: UTF-8

[2016-02-09 19:01] #10 closed

[2016-02-10 08:10] marionebl commented on #8
Seems to work now, thanks!

2016-02-06 16:01 GMT+01:00 Hugo Freire Gil <notifications@github.com>:

[2016-02-12 17:32] cv711 opened #11 "DOT and global/graph attributes?"
Hi,

I'm trying to set the font for the graph like this:

[code]

but nothing seems to be happening. The "converter" doesn't respect it either and it doesn't throw any errors. Initially, I though I was doing something wrong with the `fontname` value, but If I add it individually to each element it respects it.

Also since we are on that subject the `-N` and `-E` operators for global attributes for

[2016-02-15 08:00] TLmaK0 commented on #11
Hi @cv711, can you point me to this feature at dot documentation?

[2016-02-16 14:35] cv711 commented on #11
Ha!

I was using this [paper](https://www.ocf.berkeley.edu/~eek/index.html/tiny_examples/thinktank/src/gv1.7c/doc/dotguide.pdf) as my reference and I was trying to set some of the graph attributes described in the table in page 6. e.g. `fontname` but when I was looking at the syntax I jumped into the Command Line Options without realising it. Sorry about that!

However, the issue on how to set the

[2016-02-16 16:43] TLmaK0 commented on #11
I think this property is only available for SVG output. There is a feature request #2 to allow it.

[2016-02-17 20:31] cv711 commented on #11
I see... Thanks for your time.

[2016-02-17 20:31] #11 closed

[2016-02-20 14:59] TLmaK0 commented on #6
@tgirardi I have just updated Gravizo with this enhancement. It also support to embed multiple graphs in the same file even including the image reference in the same gist file. It is a beta version but it should work.

You can refer a public url with:   ```http://g.gravizo.com/source?<your url raw url encoded>```

for example:

```![Alt text](http://g.gravizo.com/source?https%3A%2F%2Fgist.githubus

[2016-02-27 08:16] TLmaK0 commented on #8
I need to investigate it. Yesterday It fails again.
![screenshot](https://cloud.githubusercontent.com/assets/399935/13371940/be247df8-dd32-11e5-80c5-2156661579be.png)

[2016-03-22 16:49] TotesCrayCray opened #12 "Newly Rendered Images bugging out"
I'm noticing that anything newly generated with gravizo has suddenly started rendering oddly. Boxes are rendering with a crooked border and extra lines are often being added. This is even occurring with  simple diagrams...

For instance, a simple Plant UML diagram:
[code]

Turn into this:
![image](https://cloud.githubusercontent.com/assets/5193239/13959782/7dd901f2-f023-11e5-918f-921ce572c009.png)

[2016-03-22 17:43] TLmaK0 commented on #12
Thanks, @TotesCrayCray it should work ok now. There is a problem when the process works for a long time. I'm working with plantuml to try to arrange this, but I need to add SVG export before.

[2016-03-24 10:00] TLmaK0 commented on #12
Related to #8

[2016-03-24 10:00] #12 closed

[2016-04-28 06:36] #9 closed

[2016-04-28 06:37] #6 closed

[2016-04-28 06:39] TLmaK0 commented on #5
Hi @mathroc, now there is a new syntax to support this on #6

[2016-04-28 06:39] #5 closed

[2016-04-28 06:41] TLmaK0 opened #13 "Support PlantUML State Diagrams"
Gravizo should support PlantUML State Diagrams:

[code]

[2016-04-28 07:29] mathroc commented on #5
awesome! thank you @TLmaK0 !

[2016-06-12 08:49] TLmaK0 commented on #13
Fixed

[code]
![Alt text](http://g.gravizo.com/g?
  @startuml;
  skinparam backgroundColor LightYellow;
  skinparam state {;
    StartColor MediumBlue;
    EndColor Red;
    BackgroundColor Peru;
    BackgroundColor<<Warning>> Olive;
    BorderColor Gray;
    FontName Impact;
  };
  [*] --> NotShooting;
  state "Not Shooting State" as NotShooting {;
    state "Idle mode" as Idle <<Warning>>;
    s

[2016-06-12 08:49] #13 closed

[2016-07-28 09:42] TLmaK0 commented on #8
Fixed

[2016-07-28 09:42] #8 closed

[2016-09-14 06:20] TLmaK0 opened #14 "Support new activity syntax"
http://plantuml.com/activity2.html#simple

[2016-09-29 14:40] TLmaK0 opened #15 "Should be a wysiwyg to test graphs before put in github for the indirect way"

[2016-10-02 14:22] TLmaK0 commented on #2
SVG output it's ready. Only need to replace http://g.gravizo.com/g? by http://g.gravizo.com/svg? and http://g.gravizo.com/source? by http://g.gravizo.com/source/svg?

![Alt text](http://g.gravizo.com/svg?
  digraph G {
    aize ="4,4";
    main [shape=box];
    main -> parse [weight=8];
    parse -> execute;
    main -> init [style=dotted];
    main -> cleanup;
    execute -> { make_string; printf

[2016-10-02 14:22] #2 closed

[2016-10-07 18:34] pericazivkovic opened #16 "Sequence example shows diagonal lines"
Sequence example rendering broken just like in example on Gravizo.com
![2016-10-07-203345_385x371_scrot](https://cloud.githubusercontent.com/assets/535911/19201310/722c7df6-8ccd-11e6-90a2-13ff451c7f14.png)

[2016-10-11 15:41] TLmaK0 commented on #16
Thanks @pericazivkovic, now it's working, I will investigate it.

[2016-10-13 16:53] pericazivkovic commented on #16
Yep, it is ok for me too in the last two-three days. Feel free to close this if you wish

[2016-10-14 18:35] plgregoire commented on #16
I think the problem is back

![image](https://cloud.githubusercontent.com/assets/3228187/19398589/61072a64-921b-11e6-8ef6-99de5f6934cb.png)

[2016-10-14 20:24] TLmaK0 commented on #16
@pericazivkovic @plgregoire I was unable to catch it. If you see it again, please, use the svg verstion to check if it returns the same problem:  ````http://g.gravizo.com/svg?``` instead of ```http://g.gravizo.com/g?```.

[2016-11-04 14:53] daniel-sc commented on #15
Maybe https://daniel-sc.github.io/gravizo_editor/ is similar to the intended functionality?

[2016-11-08 08:52] sthulesen opened #17 "Scaling Plantuml gives syntax error."
In Plantuml it is possible to scale the drawing. However, when using this in gravizo I get a syntax error.

[code]

http://plantuml.com/commons

After further experiments I can see that it doesn't like the '*'. ```scale 500 width```works fine.

However. After a small typo where it became ```scale 5000 width``` it seemed that the gravizo.com server crashed (It stopped responding and not only for ou

[2016-11-08 11:51] TLmaK0 commented on #15
Thanks @daniel-sc , I will see how to include it.

[2016-11-08 11:52] TLmaK0 commented on #17
Thanks @sthulesen for your help. I will do a sanity check of this kind of values.

[2016-11-11 13:58] joonas-fi opened #18 "Offer https URLs by default"
Is there any reason all the examples and the test/encoder offer non-secure URLs by default?

Looks like g.gravizo.com is fronted by CloudFlare anyway, so why not switch to secure-by-default and lead a good example?

I fear that most people just use the example URLs/generated URLs and therefore needlessly expose their users to man-in-the-middle attacks. They might not realize that https is supporte

[2016-11-11 19:24] pericazivkovic commented on #16
@TLmaK0 issue is back and only for g.gravizo.com/g? not for SVG url

![g](https://cloud.githubusercontent.com/assets/535911/20227494/cdc61c36-a84c-11e6-9f70-5db365e14356.png)

[2016-11-12 09:01] TLmaK0 commented on #16
@pericazivkovic Thanks, I will continue investiganting it. This will help a lot.

[2016-11-12 09:12] TLmaK0 commented on #18
Hi @joonas-fi, thanks for your feedback. The ssl was added later, this is why it isn't in the docs. I will update the documentation.

[2016-11-12 10:15] joonas-fi commented on #18
Awesome, thanks! Https makes the world a tiny bit a better place. :)

[2016-12-05 11:45] lionel-deglise opened #19 "Cardinality Handle"
Hi,

Gravizo is a very useful tool. Thanks.

Cardinalty on relations seems not working. Image generation fails on test URL or undirect.

However the same puml works great on plantuml.

[dataexchange.puml.txt](https://github.com/TLmaK0/gravizo/files/630929/dataexchange.puml.txt)
![image](https://cloud.githubusercontent.com/assets/19615637/20883840/6c6171e4-bae8-11e6-8c50-3da6ac8486cd.png)

[2016-12-07 08:17] TLmaK0 commented on #19
thamks @lionel-deglise, I will take a look

[2017-01-11 01:31] konsumer opened #21 "PlantUML Sequence Diagrams"
The sequence diagram you have as an example in the README doesn't render correctly:

It should look like this:

![expected](https://cloud.githubusercontent.com/assets/83857/21831672/5e5b9424-d75a-11e6-9b0b-ff659b6499e6.png)

But it looks like this:

![actual](https://cloud.githubusercontent.com/assets/83857/21831677/6bc45286-d75a-11e6-9602-fdad23e6abec.png)

(note lines connecting top-right of "Fi

[2017-01-11 07:22] TLmaK0 commented on #21
Hi @konsumer, this is a duplicated of #16, every day the dot service is restarted to workaround it, so It should work today. I'm investigating it.

[2017-01-11 07:22] #21 closed

[2017-01-11 09:17] konsumer commented on #21
Sorry, and thanks!

[2017-01-19 17:59] jeppefrandsen opened #22 "Service down?"
I have some issues with my gravizo drawings. Seems also that not all images on http://www.gravizo.com works. Can you have a look? Thanks

[2017-01-20 07:51] TLmaK0 commented on #22
yesterday, plantuml graphs was 4 hours down. Sorry for this inconvenience.

[2017-01-20 07:51] #22 closed

[2017-01-20 15:51] jeppefrandsen opened #23 "Long lines drawn in diagram"
There are some long lines drawn wrongly in the diagrams. Also visible on http://www.gravizo.com. Can you have a look?

Thanks a lot for a great service! 👍

[2017-01-21 09:44] TLmaK0 commented on #23
Thanks @jeppefrandsen, I'm currently working on it #16 , meanwhile the service is restarted every day to workarond the problem. You can use svg graphs, because they are not affected.

[2017-01-21 09:44] #23 closed

[2017-01-23 15:59] tbrannam opened #24 "PlantUML borders rendering issue"
It appears the sequence diagrams have a rendering glitch.  The screenshot below is from the Gravizo.com site.

![screen shot 2017-01-23 at 10 55 49 am](https://cloud.githubusercontent.com/assets/78813/22211414/ed9edcf4-e15a-11e6-8f96-815c6fb411bb.png)

[2017-01-26 10:21] TLmaK0 commented on #24
Thanks @tbrannam, there is already an open issue #16, I'm investigating it.

[2017-01-26 10:21] #24 closed

[2017-02-20 18:07] gmpl opened #25 "Hyperlinks"
Hola Hugo,

PlantUML supports links, but it  seems that Gravizo ignore them.

Here are some examples:
http://plantuml.sourceforge.net/qa/?qa=90/web-links-in-generated-images-e-g-using-image-maps

I'm looking for something to generate a simple class diagram but with hyperlinks that takes you directly to the doc of the entity.

Thanks

[2017-02-23 11:03] TLmaK0 commented on #25
Thanks @gmpl

[2017-02-25 07:00] gmpl commented on #25
Actually this feature seems to be working.
You need to embed the link in an object, here's an example:

    <object data="http://g.gravizo.com/svg?
    @startuml;
    abstract class Bob {;
      [[http://www.example.com]];
    };
    Bob -> Alice : hello;
    @enduml"></object>

If you embed this in an html page you will see a diagram with an hyperlink in Bob.

[2017-02-25 07:00] #25 closed

[2017-02-25 12:48] TLmaK0 commented on #25
Thanks @gmpl for the info!!!

[2017-03-08 00:17] BrianL-STCU opened #26 "Would like circo support"
Some Graphviz graphs are much easier to understand when rendered using the circo engine. It would be nice if there were a different URL or a pragma comment or URL parameter or flag or something to select a rendering engine other than dot.

[2017-03-08 07:21] TLmaK0 commented on #26
Thanks @BrianL-STCU , can you point me to documentation about circo engine?

[2017-03-08 15:45] BrianL-STCU commented on #26
The layout engines that come with Graphviz (circo, dot, fdp, neato, osage, sfdp, and twopi) are all listed at [Documentation | Graphviz - Graph Visualization Software](http://www.graphviz.org/Documentation.php).

[2017-03-08 15:47] BrianL-STCU commented on #26
The graphviz.org home page has a brief description of each:

- **dot** - "hierarchical" or layered drawings of directed graphs. This is the default tool to use if edges have directionality.
- **neato** - "spring model'' layouts.  This is the default tool to use if the graph is not too large (about 100 nodes) and you don't know anything else about it. Neato attempts to minimize a global energy func

[2017-03-08 18:35] brianary opened #27 "DOT syntax only accepts K&R-style opening braces"
This works:
[code]
But this doesn't (in Gravizo):
[code]
The second ([Allman style indentation](https://en.wikipedia.org/wiki/Indent_style#Allman_style)) works in any of the other Graphviz programs I've used ([Graphviz](http://graphviz.org/)'s dot.exe, [viz.js](https://github.com/mdaines/viz.js), [erdos](http://sandbox.kidstrythisathome.com/erdos/), [Liviz.js](http://ushiroad.com/jsviz/), &c.) Thi

[2017-03-10 09:42] chunkiat82 opened #28 "Actor is Hardcoded to User"
![graph](https://g.gravizo.com/svg?
@startuml;
actor SpringBoot;
participant "First Class" as A;
participant "Second Class" as B;
participant "Last Class" as C;
User -> A: DoWork;
activate A;
A --> User: Done;
deactivate A;
@enduml)

![image](https://cloud.githubusercontent.com/assets/275445/23790138/cb64f254-05b8-11e7-8326-14356158c268.png)

[2017-03-13 16:53] TLmaK0 commented on #27
Thanks @brianary, It will check it.

[2017-03-13 17:07] TLmaK0 commented on #28
Hi @chunkiat82, I'm not sure were is the problem. Can you give me what your are expecting from this graph? Some thing like this?:

![graph](https://g.gravizo.com/svg?
@startuml;
actor SpringBoot;
participant "First Class" as A;
participant "Second Class" as B;
participant "Last Class" as C;
SpringBoot -> A: DoWork;
activate A;
A --> SpringBoot: Done;
deactivate A;
@enduml
)

[2017-03-15 10:12] sldblog opened #29 "Multiline image links broken in markdown"
It seems the multiline image links as mentioned in all the examples no longer work in Github's markdown files. (It does work if we use properly escaped URLs.)

https://github.com/TLmaK0/gravizo/blob/master/README.md

<img width="1016" alt="screen shot 2017-03-15 at 10 10 49" src="https://cloud.githubusercontent.com/assets/1526295/23943527/b0ab2ad4-0967-11e7-95c5-29e355a51fb9.png">

Same result wit

[2017-03-15 11:50] sldblog commented on #29
Apparently caused by https://githubengineering.com/a-formal-spec-for-github-markdown/, as per spec:

https://github.github.com/gfm/#link-destination

Having newlines or spaces in link destinations is now considered invalid.

[2017-03-15 13:24] TLmaK0 commented on #29
I need to check but I think we should start to move to indirect way . Thanks @sldblog

[2017-03-16 13:02] jeppefrandsen commented on #29
Have the same issue.

For our team I think the best would be to have a small command line tool for encoding/decoding the README.md since it would be difficult to use the indirect way with pull requests (URL pointing to file on branch).

[2017-03-16 13:44] tralamazza commented on #29
maybe support URL encoded graph for the moment?

[2017-03-16 16:07] TLmaK0 commented on #29
URL encoded should works.

I know the problems with pull requests and indirect way :(, Could it be a solution try some kind of branch detection in github?

[2017-03-17 09:36] jeppefrandsen commented on #29
Have made a small [gravizo tool](https://github.com/jeppefrandsen/gravizool) for being able to use gravizo with pull requests. It encodes/decodes GitHub Markdown files.

The idea is to e.g. use Atom for direct Markdown rendering, encode and upload to GitHub. For changing a file, decode it, change and encode again. We will try to use it within our team. A bit quickly made so only works with svg URL

[2017-03-21 13:31] cosmocracy opened #30 "Busted?"
Looking at the README here, none of the diagrams are rendering (instead showing jumbled lines of the underlying DOT (etc.)).

For example:
![image](https://cloud.githubusercontent.com/assets/10222432/24149515/2bc6ecfc-0e19-11e7-9e75-b562ce4d2e7c.png)

[2017-03-21 15:08] TLmaK0 commented on #30
Hi @cosmocracy after markdown changes github doesn't allow multiple lines in images. You should use indirect way #29

[2017-03-21 15:08] #30 closed

[2017-03-21 18:31] cosmocracy commented on #30
Don't you want to at least update the README examples? To the outside world it looks completely broken :-/

[2017-03-22 07:09] TLmaK0 commented on #30
yes sure, this is why I still open the other issue.

[2017-03-23 02:01] misak1 opened #31 ""digraph G" problem"
I can not see the sample page.
https://github.com/TLmaK0/gravizo

http://g.gravizo.com/
"digraph G" problem?

[2017-03-23 14:01] TLmaK0 commented on #31
Hi @misak1, github has changed the markdown #29 , you should use indirect way

[2017-03-23 14:01] #31 closed

[2017-03-27 08:54] l2fprod commented on #29
@TLmaK0 in https://github.com/TLmaK0/gravizo/blob/master/README.md the links still point to the fix/README branch.

Is there an issue with caching and indirect way? Currently if I hit one graph I have (https://g.gravizo.com/source/extract_video?https%3A%2F%2Fraw.githubusercontent.com%2FIBM-Bluemix%2Fopenwhisk-darkvisionapp%2Fmaster%2FREADME.md) directly, I can see the graph correctly rendered but

[2017-03-27 09:15] TLmaK0 commented on #29
@l2fprod this is something that I should check again, actually it returns cache-control: no-cache, but I don't know how github its handling the cache. Meanwhile you can add a ?<version> at the end of the link to clear the cache.

[2017-03-27 09:53] l2fprod commented on #29
@TLmaK0

Thank you. I don't see the cache-control header with curl or with Chrome inspector:

[code]

[2017-03-27 11:33] TLmaK0 commented on #29
@l2fprod you are right, I will review cloudflare configuration.

[2017-03-27 18:24] #28 closed

[2017-03-27 18:25] TLmaK0 commented on #29
@l2fprod I have added the cache-control for graphs in indirect way

[2017-03-28 05:48] l2fprod commented on #29
@TLmaK0 thanks, that works, GitHub has refreshed the embedded graphs without me changing anything.

[2017-03-30 12:03] svenevs commented on #29
I made a gist to help people who don't understand what `urlencode` means and they want to do the direct method.  I don't personally find the process too difficult, but it depends on what your background is.  Hope it helps somebody :smile:

https://gist.github.com/svenevs/ce05761128e240e27883e3372ccd4ecd

[2017-04-01 16:32] TLmaK0 commented on #13
And uml class diagram:

[code]

[2017-04-02 21:20] FantasticFiasco opened #32 "Supporting { and } in UML?"
It seems that { and } isn't supported in UML when it comes to being displayed indirectly on GitHub.

I have the following UML:

[code]

It doesn't not seem to be rendered correctly. For reference, see [this](https://github.com/FantasticFiasco/web-server-tech-benchmark/blob/branches/uml/README.md).

Thanks for a really cool project!

[2017-04-03 14:38] MarcuSacramento opened #33 "Using cluster"
How can i use cluster like http://www.graphviz.org/Gallery/directed/cluster.html ?

[2017-04-05 11:09] sldblog commented on #29
Seems like there are multiple tools to handle this kind of thing and it's unlikely that GitHub readme parsing will be relaxed.

I think this can be closed when
- [x] GitHub readme is updated.
- [ ] https://gravizo.com is updated.

[2017-04-06 06:44] svenevs commented on #29
If updating the samples on the homepage happens, it may be worth mentioning that this only breaks direct readme rendering on github. It still works elsewhere on github, e.g. I have a Jekyll site using kramdown and the gravizo direct method that still works. Maybe that will change, but the point is more that the direct method still works without urlencoding for markdown parsers that uhhhh... Aren't

[2017-04-07 13:57] kofalt commented on #29
Just to chime in here, have you guys considered participating in the CommonMark spec discussion? It sounds like you have a pretty good use case for mutli-line links. The spec is currently in version 0.26, I imagine there's still room for adjustment :)

https://talk.commonmark.org

If someone ends up participating, leave a thread link. I'd be curious to see how it goes.

[2017-04-08 15:53] TLmaK0 commented on #32
Hi @FantasticFiasco, I try it ant seams works, can you provide more info?

[2017-04-08 15:54] TLmaK0 commented on #33
Hi @MarcuSacramento. this should work:

[code]

[2017-04-08 19:16] FantasticFiasco commented on #32
Sure, take a look [at this](https://github.com/FantasticFiasco/gravizo/blob/master/ERROR.md). The only thing differing is `{` and `}`.

[2017-04-25 20:01] LuisBL opened #35 "allow gravizo in gitlab Rdoc format wiki"
In gitlab README.rst and wiki(s) we set RestructuredText (Rdoc) format instead of  not Markdown.
Can we use Gravizo with Restructuredtext (gitlab/wiki/format Rdoc) ?

[2017-04-26 06:16] TLmaK0 commented on #35
I didn't test it with rdoc, but any document that it's able to show an external image should works with Gravizo. Only need to put the the image url like in Github. If rdoc doesn't allows multiline image source, you should use indirect way. Tell me if you successfully make it work, or if you want, could you provide me a way to test it?

[2017-05-02 06:35] TLmaK0 commented on #33
you can use indirect way http://www.gravizo.com/#howto also

[2017-05-02 06:35] #33 closed

[2017-05-05 21:45] kevinchau321 opened #36 "Class Diagrams"
I can't get class diagrams to work using DOT syntax. I've tried using the tester/encoder to get something that gravizo can parse, but its not rendering correctly.

Here's the diagram I am trying to render and what it should look like:
[code]
![image](https://cloud.githubusercontent.com/assets/6045301/25765325/4951561c-31a1-11e7-9821-874b60379c6c.png) (generated with webgraphviz.com)

Here's what t

[2017-05-05 21:46] kevinchau321 commented on #36
I've also tried using UMLGraph syntax, but it won't render properly when given an asterisk (*), i.e. when declaring pointers in my class diagram.

[2017-05-05 22:26] kevinchau321 commented on #36
I have also been unsucessful in getting any plantUML to render in markdown

[2017-05-07 09:01] TLmaK0 commented on #36
Hi @kevinchau321, there are several replacements for chars in url (like + by space), try to use indirect way http://www.gravizo.com/#howto

[2017-05-11 20:37] sim6 opened #37 "Github example doesn't work"
Hello,

Firstly, thanks for your work.

The following text is copyed from https://gravizo.com
* Code:
[code]
* Result:
![Alt text](https://g.gravizo.com/svg?
  digraph G {
    aize ="4,4";
    main [shape=box];
    main -> parse [weight=8];
    parse -> execute;
    main -> init [style=dotted];
    main -> cleanup;
    execute -> { make_string; printf}
    init -> make_string;
    edge [color=red]

[2017-05-12 06:19] TLmaK0 commented on #37
Hi @sim6, a months ago Github removed the multi-line feature from urls #29, so the only way today to make it work with Github is using the indirect way http://www.gravizo.com#howto

[2017-05-12 06:20] TLmaK0 commented on #37
of course, I should update the gravizo.com documentation.

[2017-06-20 20:10] jkochaniak opened #38 "Gravizo.com documentation out of date?"
I think the documentation for the indirect method on the gravizo.com [How to use](http://www.gravizo.com/#howto) page is incorrect. It says that to use Gravizo indirectly, you need to use an url like:

`https://g.gravizo.com/`**`source/svg?`**`<source_url_url_encoded>`

However, this doesn't work for me. What does work is:

`https://g.gravizo.com/`**`source?`**`<source_url_url_encoded>`

e.g. this

[2017-06-23 08:01] TLmaK0 commented on #38
@jkochaniak thanks, I just upload a new version that fixes this exactly problem. Thanks for reporting it!!! Now two graphs works perfectly!

[2017-06-23 08:01] #38 closed

[2017-08-09 13:28] powerman opened #39 "github / gist caching issue"
When I update graph in gist image don't get updated unless I also change url (like rename document). According to https://github.com/github/markup/issues/224#issuecomment-48532178 your service should also set one of `Expires`, `Last-Modified` or `Etag` headers.

[2017-08-10 06:42] TLmaK0 commented on #39
Thanks @powerman, I think we have already discuse this problem before in other issue and I have already added one of this tags. I will check it.

[2017-11-01 10:27] louisrubet opened #40 "github indirect way to present diagrams does not work"
Hi TLmaK0
thank you for your nice work !

It appears that github indirect way to present diagrams does not work
It only shows boxes next to each other and without arrows nor lines

I wasn't able to manage it

look at
![Alt text](https://g.gravizo.com/source/custom_mark10?https://github.com/louisrubet/projectproof/blob/master/README.md)
<summary></summary>
custom_mark10
 digraph G {
   main -> pars

[2017-11-02 17:08] TLmaK0 commented on #40
Hi @louisrubet, look at source code of my working version https://github.com/TLmaK0/projectproof/blob/master/README.md
I think the problem is the ; after printf and the raw file.

[2017-11-02 17:10] #40 closed

[2017-11-02 17:48] louisrubet commented on #40
:)

[2018-01-04 09:57] ztorage opened #41 "Using PlantUML new activity syntax renders arrow text as activity"
[code]

renders as

![gr1](https://user-images.githubusercontent.com/3983598/34558298-320c9f88-f146-11e7-9ef8-a4c4b6a34678.png)

instead of

![gr2](https://user-images.githubusercontent.com/3983598/34558324-4cfba1e0-f146-11e7-83f7-96d6ca855ac9.png)

Anything can be done? Special escaping? Workaround?

Thanks.

[2018-01-04 15:51] TLmaK0 commented on #41
Hi @ztorage, I have tested this code in plantuml server online, and returns the same result as gravizo:

http://www.plantuml.com/plantuml/uml/SoWkIImgAStDuG8pk7Jj54gA4lEACqioy_EuKlDIk1o0150U0000

[2018-01-04 20:27] ztorage commented on #41
Hi again,
Mind the semicolon trailing `->transition;`. This is the correct example on PlantUML's server:
http://www.plantuml.com/plantuml/uml/SoWkIImgAStDuG8pk7Jj54gA4lEACqioy_EikLBpKhWSW0HG0G00

The syntax is outlined here: http://plantuml.com/activity-diagram-beta#arrow

[2018-01-05 01:13] TLmaK0 commented on #41
ops!!! sorry! I will take a look! thanks

[2018-02-10 12:13] #36 closed

[2018-02-10 12:13] #35 closed

[2018-02-10 12:51] TLmaK0 commented on #32
Fixed

[2018-02-10 12:51] #32 closed

[2018-02-10 12:52] TLmaK0 commented on #17
Fixed

[2018-02-10 12:52] TLmaK0 commented on #16
Fixed

[2018-02-10 12:55] TLmaK0 commented on #19
Fixed

[2018-02-10 12:55] #19 closed

[2018-02-22 11:01] jarkkojarvinen opened #43 "A sequence diagram contains extra lines from upper participant label to lower label."
See your sequence diagram example from https://github.com/TLmaK0/gravizo

Extra lines are drawn from upper participant label to lower label.

[2018-02-22 20:10] TLmaK0 commented on #43
thanks!! It comes back! Fixed

[2018-02-22 20:10] #43 closed

[2018-02-22 20:10] TLmaK0 commented on #16
Not fixed

[2018-03-27 12:21] zvictor opened #44 "low quality/resolution"
First of all, thank you for such nice and handy service!  💪

I started using it in my project (https://github.com/Quadric/radiaction/tree/master/examples/with-webtask#infrastructure) and even though everything works, the image rendered has very low quality.

I understand that the space is quite narrow and not optimal for such graph, but the same graph and the same viewport render with a way higher

[2018-03-27 16:11] TLmaK0 commented on #44
HI @zvictor, do you test the svg output format?  only need to add svg to url https://g.gravizo.com/source/svg/custom_mark?https%3A%2F%2Frawgit.com%2FQuadric%2Fradiaction%2Fmaster%2Fexamples%2Fwith-webtask%2FREADME.md

[2018-03-30 08:35] zvictor commented on #44
now it's great! thanks again. 🍻

[2018-03-30 08:35] #44 closed

[2018-05-25 13:49] cczhong11 commented on #41
I don't know which version of plantUML is used in backend of gravizo now. PlantUML has new syntax for activity diagram. http://plantuml.com/activity-diagram-beta.

I have tried the following code
[code]
It could not be rendered by gravizo. It would be great if you could take look into it. By the way, the old syntax could not see if you browse in plantUML website without direct link to http://plant

[2018-06-26 06:59] juliangaal opened #45 "How to get encoded url?"
I saw in the other issue that Github removed a feature which forces us to use the indirect way:
`https://g.gravizo.com/source/svg?<source_url_url_encoded>`

How do I get this `<source_url_url_encoded>`?

EDIT: followed [this tutorial](https://gist.github.com/svenevs/ce05761128e240e27883e3372ccd4ecd), but get `@startuml digraph Syntax error? did you mean digraph"`
Thanks

[2018-06-26 18:53] TLmaK0 commented on #45
First create a public page where you want to include the graph.
Create a comment where you include the graph text between marks.
Then create a url encoded from an online site like https://meyerweb.com/eric/tools/dencoder/
Take a look to the README file in this github repo.
I hope I have helped you with this issue.

[2018-06-26 18:53] #45 closed

[2018-07-24 16:44] MashenKa737 opened #46 "Weird behavior when using UMLGraph syntax"
I worked with class diagram. Used direct way of usage from http://www.gravizo.com page

When I try to write generic types, i.e. MockClazz<T> it can't generate picture. When I try to replace '<>' with <%3C%3E> it draws 'cXXX' instead of class where 'XXX' are random numbers that change when the page is reloaded.

One more.
It can't generate a picture from text with both class/interface and enum. How

[2018-08-23 15:48] aspiers opened #47 "README.md is incomplete and doesn't link to http://www.gravizo.com/"
http://www.gravizo.com/ is a very nice homepage which is full of helpful information and provides a fairly comprehensive explanation of what gravizo can do, and how to use it, including both direct and indirect techniques.  However unfortunately the github README.md is much less comprehensive (it doesn't even explain the direct method), and it doesn't link to http://www.gravizo.com/.

IMHO it does

[2018-08-23 15:54] aspiers commented on #37
The title of this issue should actually be "http://www.gravizo.com/ example doesn't work" - I think the GitHub examples all work.  See also #47.

[2018-08-23 15:55] aspiers commented on #47
Additionally the documentation on http://www.gravizo.com/ is out of date and incorrect as reported in #37, so that's another reason to unify the docs into a single location.

[2018-08-24 12:01] TLmaK0 commented on #46
Hi @MashenKa737, can you provide a full example?

[2018-08-24 12:01] TLmaK0 commented on #47
Thanks @aspiers, I will take a look.

[2018-11-27 08:06] SeanYanxml opened #48 "Can I use the gravizo directly."
I read your `read.me` file. I find you use the direct url and the annonation.
When i write the class graph in `macDown`( One kind of software of mac). I think it can't use the example of the official website.
[code]
By the way, your must use the url like `![Alt text](http://g.gravizo.com/source/gravizosample?https%3A%2F%2Fbitbucket.org%2FTLmaK0%2Fgravizo-example%2Fraw%2Fmaster%2FREADME.md#`.

Any

[2018-11-28 09:58] TLmaK0 commented on #48
Hi Sean,

I don't have right now a Mac here to test it, but could be a problem with multi-line url images. Try to remove all new lines and check if it works. If works then this is the problem.

[code]

[2019-01-17 17:00] vitiral opened #49 "What is <url_source_url_encoded>? How do I get it for my project?"
This project looks cool, but I'm confused by this line:

It looks like `<custom_mark>` is something like `custom_mark10`, but `<url_source_url_encoded>` looks like it is somehow project related?

[2019-01-17 18:00] TLmaK0 commented on #49
Gravizo, will get the source page of <url_source_url_endoded> and search for the code between the first <custom_mark> and the next <custom_mark> in the source, then will use the text inside as code. Look at the README.md examples.

[2019-01-17 18:16] vitiral commented on #49
Gotcha! I just tried copy+pasting and it worked! Thanks!

[2019-01-17 20:32] #49 closed

[2019-02-28 12:28] jeanrajotte opened #50 "No @startuml found"
Great tool, thanks.

Working with it in Github private repos is difficult. It used to work, but something has changed and URL-encoded diagram definition is broken now.

Because the repo is private, one can't use the `indirect` method - the source is not accessible.

For the direct method, Github markdown does not support multi-line `<img>` or `![]()` images.

Therefore one must url-encode the mult

[2019-02-28 12:50] jeanrajotte commented on #50
In case it's my diagram definition that's problematic, here's its source.

[code]

[2019-02-28 12:54] jeanrajotte commented on #50
FYI, while playing around a little...  Removing the `@` in front of `@enduml`  yields the "No @startuml found" image also.  Possibly the "No @startuml found" error is a red herring...

[2019-03-01 04:40] jeanrajotte commented on #50
Wow! Now it works. url-encoded returns an image. I end every line with semi-colon now.  Was that the issue?

[2019-03-01 04:40] #50 closed

[2019-03-01 08:05] TLmaK0 commented on #50
yes sure! When the request arrives to the server, it arrives without carriage returns, so, adding ";" is the only way to take care about this.

[2019-03-01 08:12] jeanrajotte commented on #50
But, aren't carriage returns url-encoded?

[2019-03-01 08:17] TLmaK0 commented on #50
Yes, if you use url encode of course, but if you use a direct link no, so the system always expect a ;

[2019-03-08 21:28] tischi opened #51 "icon hides content"
Hello!

Great tool!

In below example the Gravizo icon partly hides the content.

1. Do you know how to change that?

I just paste the code, because it would not render here....

2. Do you know why it does not render?

[code]

[2019-03-11 08:19] TLmaK0 commented on #51
Hi @tischi, actually there is no way to move the gravizo icon, you can remove it if you have the Enterprise subscription.
If you are trying to render this in Github you must to use the indirect way https://github.com/TLmaK0/gravizo#new-the-indirect-way

[2019-03-11 08:19] #46 closed

[2019-03-11 08:20] TLmaK0 commented on #46
Closed by inactivity

[2019-03-11 08:20] #48 closed

[2019-03-11 08:34] tischi commented on #51
Thanks!

[2019-03-11 08:34] #51 closed

[2019-08-21 06:41] vinuraja opened #52 "DOT record shape syntax doesn't work properly when using { in label."
[code]
should ideally be rendered as:

![alt text](https://renenyffenegger.ch/notes/tools/Graphviz/examples/shape-record-vs-plaintext.png).

Instead, it's rendered as:

![alt text](http://www.gravizo.com/svg?digraph%20D%20%7B%0A%20%20%20%20node_A%20%5Bshape%3Drecord%2C%20label%3D%22shape%3Drecord%7C%7Babove%7Cmiddle%7Cbelow%7D%7Cright%22%5D%3B%0A%20%20%20%20node_B%20%5Bshape%3Dplaintext%2C%20label

[2020-04-26 22:52] jimfred opened #53 "github wiki"
I was having troubles getting gravizo to work in github wiki pages.

I created a page at [https://github.com/TLmaK0/gravizo/wiki/github-wiki-test](https://github.com/TLmaK0/gravizo/wiki/github-wiki-test) to show what I'm seeing.

As a work-around I ended up using encoded URLs.

I don't think this is an issue that needs to be resolved but a working github wiki page with a work-around might be usefu

[2020-06-18 05:22] jeppefrandsen opened #54 "Gravizo.com is down"
It looks as gravizo.com is down?

[2020-06-18 07:03] TLmaK0 commented on #54
Tx @jeppefrandsen, I'm just investigating the issue. The server has been removed from the ISP without notification. I will wake-up ASAP:

[2020-06-18 09:53] TLmaK0 commented on #54
@jeppefrandsen now it's up and running. We thank you for your patience during this downtime and apologize for any inconvenience caused.

[2020-06-18 09:53] #54 closed

[2020-08-07 03:01] hlung opened #55 "How to refer to single file graph ?"
I see in your readme you use `custom_mark10` and such to refer to one of many graphs in one file. What if I have a file with only one graph? How do I refer to that graph without the use of `custom_mark10`?

[2020-09-02 10:29] pGrovesy opened #56 "Integrate Graphviz"
![Alt text](https://g.gravizo.com/source/custom_mark10?https%3A%2F%2Fraw.githubusercontent.com%2FTLmaK0%2Fgravizo%2Fmaster%2FREADME.md)
<details>
<summary></summary>
custom_mark10
  digraph G {
    size ="4,4";
    main [shape=box];
    main -> parse [weight=8];
    parse -> execute;
    main -> init [style=dotted];
    main -> cleanup;
    execute -> { make_string; printf};
    init -> make_strin

[2020-09-02 10:30] pGrovesy commented on #56
sorry delete

[2020-09-02 10:30] #56 closed

[2021-12-08 17:16] TLmaK0 commented on #55
Hi @hlung, now can use it without the mark `https://g.gravizo.com/source/svg?https://raw.githubusercontent.com/TLmaK0/gravizo/master/sample.txt`

[2021-12-08 17:16] #55 closed

[2021-12-08 17:17] #53 closed